/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Common Utilities */
body{
    font-family: 'Poppins', sans-serif;
    background: #E5E5E5;
    margin: 0;
}

/* --------
header 
---------------*/
.header-area{
    background: #562EFF;
    padding: 25px 0;
    margin-bottom: 30px;
}
.container-full{
    width: 870px;
    margin: auto;
}
.header-inner{
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 40px;
    height: 50px;
}
.main-nav a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
}
.main-nav a img{
    margin-bottom: -15px;
}

/*---------
 top area css
 --------------- */
 .container{
     width: 870px;
     background: #fff;
    border-radius: 5px;
    margin: 0 auto;
    padding: 30px;
 }
 .section-title{
    color: #562EFF;
    padding-top: 3px;
 }
 .player-grid{
     display: grid;
     grid-template-columns: repeat(3,1fr);

 }
 .single-player{
     display: flex;
     justify-content: flex-start;
     align-items: center;
 }
 .player-img img{
     width: 60px;
     height: 60px;
     margin-right: 10px;
 }
 .player-detail h4{
     margin-bottom: 0;
 }
 .player-detail p{
     margin-top: 0;
 }

 /*---------------
  blogs 
  ------------*/
  .top-blogs{
      display: grid;
      grid-template-columns: repeat(2,1fr);
  }
  .single-blog{
      display: flex;
      align-items: center;

  }
  .blog-thumbnail img{
      width: 230px;
      height: 130px;
      margin-right: 15px;
  }
  .blog-details h3 a{
      text-decoration: none;
      color: #1e1e1e;
  }
  .blog-details p a{
      text-decoration: none;
  }

  /*---------
   courses 
   ------------*/
   .course-area{
       margin-top: 20px;
   }
   .courses{
       display: grid;
       grid-template-columns: repeat(3,1fr);
       grid-column-gap: 30px;
   }
   .course-banner img{
       width: 270px;
       height: 150px;
   }
   .course-info h3 a{
       text-decoration: none;
       color: #1E1E1E;
   }
   .author{
       color: #ED6B4F;
       margin-top: 0;
   }
   .course-meta{
       display: flex;
       justify-content: space-between;
   }
   .fas.fa-star{
    color: #FFC014;
   }
   .fas.fa-star.empty{
    color: #AEAEAE;
   }
   .course-duration{
    color: #ED6B4F;
    background: #FEE5DF;
    padding: 5px 20px;
    border-radius: 30px;
   }